<div class="container">
  <div class="container-fluid">
    <h1>Product</h1>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalCreate">
      Create
    </button>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let product of list">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <button type="button" class="btn btn-secondary" (click)="showEdit(product.name)" data-toggle="modal"
                  data-target="#myModalEdit">
            Edit
          </button>
        </td>
        <td>
          <button (click)="deleteProduct(product.name)" >Delete</button>
        </td>
      </tr>
    </table>
    <!-- The Modal create -->
    <div class="modal" id="myModalCreate">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Create Product</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">

            nhập id : <input [(ngModel)]="id" placeholder="id">
            <br>
            nhập name : <input [(ngModel)]="name" placeholder="name">
            <br>
            nhập price :<input [(ngModel)]="price" placeholder="price">
            <br>
            nhập quantity :<input [(ngModel)]="quantity" placeholder="quantity">
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" (click)="createProduct()" class="btn btn-success" data-dismiss="modal">Create</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

    <!-- The Modal edit -->
    <div class="modal" id="myModalEdit">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Edit Product</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            edit id : <input [(ngModel)]="id" placeholder="id" readonly>
            <br>
            edit name : <input [(ngModel)]="name" placeholder="name">
            <br>
            edit price :<input [(ngModel)]="price" placeholder="price">
            <br>
            edit quantity :<input [(ngModel)]="quantity" placeholder="quantity">
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" (click)="editProduct(name)" class="btn btn-success" data-dismiss="modal">Edit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
